pkgbase = teevee
	pkgdesc = Single-button cyclic launcher using dunst notifications
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/yourusername/teevee
	arch = any
	license = MIT
	depends = bash
	depends = dunst
	source = teevee-0.1.0.tar.gz::https://github.com/ThomasB3143/teevee/archive/v0.1.0.tar.gz
	sha256sums = acb1f27997f6c75d18852ad0b7ddb886b7097a8a3d27867029f70f8c9ed086c1

pkgname = teevee
